<footer class="footer">
  <div class="scroll-up">
    <a href="#" target="_blank" rel="" title=""></a>
      <img src="./assets/images/ico-arrow.svg" alt="" />
    </a>
  </div>
  <nav class="nav_content">
    <ul>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </nav>
  <nav class="nav_social-media">
    <ul>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </nav>
  <small>
    <span>&copy 2017</span>
    <span>we 🧡 components</span>
  </small>
</footer>
