<footer class="footer">
  <div class="footer__scroll-up">
    <a href="#hero">
      <img src="./assets/images/ico-arrow.svg" alt="Ir a inicio" />
    </a>
  </div>
  <div class="footer__content">
    <nav class="footer_nav content_nav">
      <ul class="footer_nav__item">
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Articles</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Books</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Events</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Reasons</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer_nav social_nav">
      <ul class="footer_nav__item">
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Twitter</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Instagram</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="https://adalab.es/" target="_blank">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <small class="footer__copy">
      <span class="footer__copy-text">© 2017</span>
      <span class="footer__copy-text">We 🧡 components</span>
    </small>
  </div>
</footer>
