<section id="hero" class="hero">
  <div class="hero__header">
    <a class="hero__link-adalab" href="https://adalab.es/" target="_blank" title="Ir a la web de Adalab">
      <img class="img" src="./assets/images/ico-menu.svg" alt="Link-bottom" />
    </a>
  </div>
  <h1 class="hero__title1">
    <span>Anonymous</span>
    <span>proxy</span>
  </h1>
  <h2 class="hero__title2">In hac habitasse platea dictumst.</h2>
  <div class="hero__scroll-down">
    <a class="hero__link-article" href="#article2" title="Ir a secciones">
      <img class="bounce-down" src="./assets/images/ico-scroll-down.svg" alt="Flecha de navegación" />
    </a>
  </div>
</section>
