.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../images/cover.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__header {
    width: 44px;
    height: 44px;
    background-color: $color-brand-4;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-adalab {
    padding: 15px 14px;
  }

  &__title1 {
    font: 42px $font-family-title;
    color: $color-brand-2;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
  }

  &__title2 {
    font: 16px $font-family-text;
    color: $color-brand-2;
    margin-top: 10px;
    text-align: center;
  }

  &__scroll-down {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-brand-2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 53px;
  }

  &__link-article {
    padding: 18px 13px 15px;
  }
}
