.hero {
  position: relative;
  height: 100vh;
  background: url("../images/cover.jpg") no-repeat center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__header {
    width: 44px;
    height: 44px;
    background-color: $color-brand-4;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-adalab {
    padding: 15px 14px;
  }

  &__title1 {
    font-family: $font-family-title;
    color: $color-brand-2;
    @include text(42px, 55px);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    @media all and (min-width: $display-m) {
      @include text(80px, 106px);
    }

    @media all and (min-width: $display-l) {
      @include text(100px, 132px);
    }
  }

  &__title2 {
    font-family: $font-family-text;
    color: $color-brand-2;
    @include text(18px, 30px);
    margin-top: 10px;
    text-align: center;

    @media all and (min-width: $display-m) {
      font-size: 24px;
    }
    @media all and (min-width: $display-l) {
      margin-top: 0px;
    }
  }

  &__scroll-down {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-brand-2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 53px;

    @media all and (min-width: $display-m) {
      margin-top: 30px;
      margin-bottom: 45px;
    }

    @media all and (min-width: $display-l) {
      margin-bottom: 13px;
    }
  }

  &__link-article {
    padding: 18px 12.2px 12px;
  }
}
.bounce-down {
  -moz-animation: bounce-down 2s infinite;
  -webkit-animation: bounce-down 2s infinite;
  animation: bounce-down 2s infinite;
}

@keyframes bounce-down {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(12px);
  }
  60% {
    transform: translateY(5px);
  }
}
