.article2 {
  width: 100%;
  background: $color-brand-5;
  display: grid;
  grid-template-rows: 105px 138px 138px 138px 105px;

  @media all and (min-width: $display-m) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 172px 105px;
  }
  @media all and (min-width: $display-l) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 172px 105px;
  }

  &__title1 {
    padding: 30px 0px 45px;
    color: $color-brand-1;
    font-family: $font-family-title;
    text-transform: capitalize;
    text-align: center;
    @include text(24px, 30px);

    @media all and (min-width: $display-m) {
      @include text(26px, 45px);
      grid-column: 1 / 4;
    }
    @media all and (min-width: $display-l) {
      font-size: 32px;
      grid-column: 1 / 4;
    }
  }

  &__container1 {
    padding: 0px 70px;
    text-align: center;

    @media all and (min-width: $display-m) {
      padding: 0px 0px 0px 35.7px;
      grid-column: 1 / 2;
    }
    @media all and (min-width: $display-l) {
      padding: 0px 0px 0px 81.2px;
    }
  }

  &__container2 {
    padding: 0px 70px;
    text-align: center;

    @media all and (min-width: $display-m) {
      padding: 0px 27.7px;
      grid-column: 2 / 3;
    }
    @media all and (min-width: $display-l) {
      padding: 0px 26.2px;
    }
  }

  &__container3 {
    padding: 0px 70px;
    text-align: center;

    @media all and (min-width: $display-m) {
      grid-column: 3 / 4;
      padding: 0px 35.7px 0px 0px;
    }
    @media all and (min-width: $display-l) {
      padding: 0px 81.2px 0px 0px;
    }
  }

  &__title2 {
    color: $color-brand-1;
    font-family: $font-family-title;
    @include text(18px, 30px);
    text-align: center;

    @media all and (min-width: $display-m) {
      font-size: 24px;
      padding-bottom: 14px;
    }
  }

  &__content {
    color: $color-brand-1;
    font-family: $font-family-text;
    @include text(18px, 30px);

    @media all and (min-width: $display-m) {
      font-size: 20px;
    }
  }

  &__button {
    margin: 20px 0px 60px;
    align-self: center;
    justify-self: center;
    text-transform: capitalize;

    @media all and (min-width: $display-m) {
      margin: 0px 0px 60px;
      grid-column: 2 / 3;
    }
  }
}
