.footer {
  background: $color-brand-6;
  padding: 60px 0px 45px;
  position: relative;

  @media all and (min-width: $display-m) {
    padding: 45px 39px;
  }
  @media all and (min-width: $display-l) {
    padding: 45px 370px;
  }

  &__scroll-up {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-brand-2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }

  &__link-hero {
    padding: 13px 12px 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    @media all and (min-width: $display-m) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;

    @media all and (min-width: $display-m) {
      order: 1;
    }
  }
  &__copy-text {
    color: $color-brand-2;
    font-family: $font-family-text;
    @include text(14px, 30px);
    text-transform: lowercase;
    text-align: center;

    @media all and (min-width: $display-m) {
      text-align: left;
    }
  }
}

.footer_nav {
  text-align: center;
  padding-left: 0px;

  @media all and (min-width: $display-m) {
    text-align: left;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-family-text;
    color: $color-brand-2;
    @include text(16px, 30px);
  }
}

.content_nav {
  padding: 30px 0px 15px;

  @media all and (min-width: $display-m) {
    order: 2;
  }
}

.social_nav {
  padding: 15px 0px 30px;
  @media all and (min-width: $display-m) {
    order: 3;
  }
}
