// ARTICLE --> Title1 //

@mixin title1-mobile() {
  color: $color-brand-2;
  font-family: $font-family-title;
  font-size: $font-size-article-title1-mobile;
  line-height: $line-height-article-title1-mobile;
  text-transform: capitalize;
}

@mixin title1-tablet() {
  font-size: $font-size-article-title1-tablet;
  line-height: $line-height-article-tablet_desktop;
}

@mixin title1-desktop() {
  font-size: $font-size-article-title1-desktop;
}

// ARTICLE --> Title2 //

@mixin title2-mobile() {
  color: $color-brand-2;
  font-family: $font-family-title;
  font-size: $font-size-article-title2-mobile;
  line-height: $line-height-article-title2-mobile;
}

@mixin title2-tablet_desktop() {
  font-family: $font-family-title;
  font-size: $font-size-article-title2-desktop;
  line-height: $line-height-article-title2-tablet_desktop;
}

// ARTICLE --> Subtitle //

@mixin subtitle-mobile_tablet() {
  color: $color-brand-4;
  font-family: $font-family-text;
  font-size: $font-size-article-subtitle-mobile_tablet;
  line-height: $line-height-article-subtitle;
  text-transform: capitalize;
}

@mixin subtitle-desktop() {
  font-family: $font-family-text;
  font-size: $font-size-article-subtitle-desktop;
  line-height: $line-height-article-subtitle;
}

@mixin text-mobile() {
  font-family: $font-family-text;
  font-size: $font-size-article-text-mobile;
  line-height: $line-height-article-text;
}

@mixin text-tablet_desktop() {
  font-family: $font-family-text;
  font-size: $font-size-article-text-tablet_desktop;
  line-height: $line-height-article-text;
}

// FOOTER --> Navigator //

@mixin nav() {
  color: $color-brand-2;
  font-family: $font-family-text;
  font-size: $font-size-footer-nav;
  line-height: $line-height-footer;
  text-transform: uppercase;
}

// FOOTER --> Copy //

@mixin copy() {
  color: $color-brand-2;
  font-family: $font-family-text;
  font-size: $font-size-footer-copy;
  line-height: $line-height-footer;
  text-transform: lowercase;
}
