/* COLORS */

$color-brand-1: #000000;
$color-brand-2: #ffffff;
$color-brand-3: #f26002;
$color-brand-5: #eff9ff;
$color-brand-6: #304268;
$color-brand-4: #0271bc;
$color-brand-7: #4a4a4a;

/* TYPO */
$font-family-title: "Roboto Slab", sans-serif;
$font-family-text: "Roboto", sans-serif;
$font-weight-footer-nav: 16px;
$font-weight-footer-copy: 14px;
